@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
* {
    box-sizing: border-box;
}

html,
body,
.row {
    width: 100%;
    height: 100%;
}


/* background de login, crear, modificar, admin */

.cuerpo {
    background-image: url("../img/fondo2.jpg");
    background-size: 100%;
}


/*-------PAGINA PRINCIPAL----------- */

.pagina_principal h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    padding: 2%;
}


/* editar el div de iniciar sesión */

.iniciar_sesion {
    text-align: right;
    width: 100%;
    font-size: 14px;
    padding: 1%;
    background-color: black;
    color: white;
}


/* botón de iniciar sesión */

.inicio {
    color: white;
}


/* estilos para la página */

.pagina_principal h2 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.pagina_principal img {
    width: 100%;
    height: 300px;
}


/* secciones(cada uno de los eventos) */

.seccion {
    float: left;
    text-align: left;
    width: 31.3%;
    margin: 1%;
    margin-bottom: 3%;
}


/* línea que hay debajo del título en seccion */

hr {
    background-color: grey;
    margin-left: 0px;
    width: 30%;
}


/*----------------LOGIN---------------*/


/* caja login */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 22%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}


/* titulo login */

.login h1 {
    color: #949494;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    padding-top: 10px;
}


/* estilos para inputs */

.login input[name='email_usuario'],
.login input[name='pass_usuario'] {
    width: 100%;
    line-height: 2.5em;
    font-family: 'Zen Antique', serif;
    border-radius: 3px;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(243, 242, 242);
    font-size: 15px;
}


/* botón de login */

.btn_login {
    width: 100%;
    text-align: center;
    position: center;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    font-family: 'Zen Antique', serif;
}


/* mensaje de alerta JS Login */

#mensaje {
    color: rgb(124, 123, 123);
    font-family: 'Zen Antique', serif;
    font-size: 2vh;
}


/* -------PAGINA ADMIN--------- */

.logout {
    position: center;
    text-align: right;
    margin-left: 95%;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
    width: 100%;
    font-weight: bolder;
    font-size: 16px;
}

.pag_admin h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    padding: 2%;
}

.pag_admin {
    padding-left: 2%;
    padding-right: 2%;
}


/* estilos de la tabla */

.table {
    width: 80%;
    background-color: white;
}

.table img {
    width: 50%;
}

.table th {
    background-color: rgb(164, 164, 248);
    font-weight: bold;
}

.table tr:hover {
    background-color: rgb(213, 213, 248);
    cursor: pointer;
}

.table td {
    width: 10%;
}


/*---------------------INSCRIPCION, MODIFICAR, CREAR--------------------*/

.caja {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 35%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

.caja_crear_modificar {
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 35%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}



/* estilo para inputs */

.caja input[name='email'],
.caja input[name='nombre'],
.caja input[name='apellido'],
.caja input[name='telef'],
.caja input[name='dni'],
.caja input[name='nom_evento'],
.caja input[name='lugar_evento'],
.caja input[name='fecha_evento'],
.caja input[name='hora_evento'] {
    width: 100%;
    line-height: 1.5em;
    font-family: 'Zen Antique', serif;
    border-radius: 3px;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(243, 242, 242);
    font-size: 15px;
}

#desc_evento {
    font-family: 'Zen Antique', serif;
    font-size: 15px;
}


/* estilos para el texto */

.caja h2 {
    text-align: center;
    font-family: 'Zen Antique', serif;
    color: rgb(83, 82, 82);
    font-weight: bolder;
    padding-bottom: 6px;
    font-size: 4vh;
}

.caja p {
    font-size: 2.3vh;
    font-family: 'Zen Antique', serif;
    color: rgb(83, 82, 82);
    padding-top: 10px;
}